<!DOCTYPE html>
<html>
<head>
  <title>Songfolder</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <%= csrf_meta_tags %>
</head>
<body>

<div class="body">
  <nav>
    <a href="/" class="button">≣<span>Setlists</span></a>
    <%= link_to new_song_path, class: 'button' do %>
      +<span>New song</span>
    <% end %>
    <div class="stretchy-spacer"><%# rocking like it's 1999 %></div>
    <%= yield :nav %>
  </nav>
  <%= yield %>
</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
